<div class="header-container border-bottom d-flex justify-content-between">
    <div class="logo-container">
        <app-logo></app-logo>
    </div>
    <div>
        <div class="profile-container text-right">
            <img matTooltip="Profile Menu" [src]="avatarImgs[0]" width="40px" height="40px" class="avatar-image"
                [matMenuTriggerFor]="profileMenu">
        </div>
        <mat-menu #profileMenu="matMenu" class="mat-menu-custom px-2" panelClass="mat-panel">
            <div matTooltip="Avatars" [matTooltipPosition]="'left'"
                class="avatar-section d-flex justify-content-around pb-2">
                <ng-container *ngFor="let avatar of avatarImgs">
                    <img [src]="avatar" width="40px" height="40px" class="avatar-image" (click)="selectAvatar(avatar)">
                </ng-container>
            </div>
            <mat-divider></mat-divider>
            <div class="details-section pt-2">
                <p class="pl-2 details">Name: {{userDetails.name}}</p>
                <p class="pl-2 details">Class: {{userDetails.class}}</p>
                <div class="d-flex justify-content-around">
                    <button mat-icon-button matTooltip="Share your feedback">
                        <mat-icon>chat</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Logout">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </div>
        </mat-menu>
    </div>
</div>