// Variables
$backdrop-color: rgba(153, 112, 222, 0.31);

* {
  background-color: #F5F6FA;
}

.loading {
  top: 48%;
  left: 48%;
  z-index: 10;
  background: none;
}
.backdrop {
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    left: 0;
    background-color: $backdrop-color;
    animation: backdrop-effect 0.5s ease 0s 1 normal none;
}

@keyframes backdrop-effect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}