// variables
$color: #F5F6FA;

* {
  background-color: $color;
}
.dashboard-container {
  min-height: 100vh;
  width: 100%;
  z-index: 15;
}
.side-nav {
  width: 100px;
  z-index: 5;
}
.content-container {
  width: calc(100% - 100px);
  border: 1px solid grey;
}