<div class="dashboard-header">
  <app-header></app-header>
</div>
<div class="dashboard-container d-flex">
  <app-side-nav [sidenav]="sideNavRouteDetails"></app-side-nav>
  <div class="content-container">
    <router-outlet></router-outlet>
    <!-- <div>Dashboard content will go here</div> -->
  </div>
</div>
<div class="position-fixed w-100 text-center dashboard-footer">
  <app-footer></app-footer>
</div>

<!-- Loading Starts -->
<ng-container *ngIf="loading">
  <app-loading-box></app-loading-box>
</ng-container>
<!-- Loading Ends -->
