@import '../../../assets/scss/_color-variables';

* {
  background-color: $dashboard-background;
}
.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.dashboard-container {
  width: 100%;
}
.dashboard-footer {
  background-color: white;
  bottom: 0;
}

.content-container {
  width: 100%;
}

@media screen and (max-width: 820px) {
  .dashboard-container {
    flex-direction: column;
  }
}
