<mat-card class="doughnut-card mat-elevation-z8">
    <mat-card-header class="d-flex justify-content-center align-items-center">
        <mat-card-title>Attendance</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="content-container">
        <div class="doughnut-container" style="display: block">
            <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
            </canvas>
        </div>
    </mat-card-content>
</mat-card>