@import '../../../../assets/scss/color-variables';

.footer-item {
  margin-top: 6px;
  font-family: 'Hubballi', cursive;
  .social-link {
    text-decoration: none;
    color: black;
    &:hover {
      color: $light-purple;
    }
  }
}
