<div class="login-container">
    <div class="logo">
        <app-logo></app-logo>
    </div>
    <div class="body px-4 d-flex align-items-center">
        <div></div>
        <div class="form">
            <app-form></app-form>
        </div>
        <div class="card-list">
            <app-card></app-card>
        </div>
    </div>
</div>
<div class="footer pl-4">
    Made with &#10084; by
    <a class="social-link" href="https://in.linkedin.com/in/utkarsh-raj-003a88179" target="blank">
        Utkarsh Raj
    </a>
</div>