.logo {
  width: 186px;
  height: 36px;
  padding-top: 20px;
  padding-left: 30px;
}

.body {
  justify-content: space-between;

  .form {
    width: 328px;
    height: 330px;
  }

  .card-list {
    width: 480px;
    height: 500px;
  }
}

.footer {
  bottom: 0;
}

@media screen and (max-width: 755px) {
  .body {
    justify-content: center;
    padding-top: 50px;
  }

  .card-list {
    display: none;
  }
}
