<div class="container mt-2">
    <div class="row">
        <div class="col-md dn-class py-3">
            <app-doughnut></app-doughnut>
        </div>
        <div class="col-md py-3 border border-danger">
            Basic Info
        </div>
        <div class="col-md py-3 d-flex justify-content-center align-items-center">
            <app-line-chart></app-line-chart>
        </div>
        <div class="col-md-8 py-3">
            <app-data-table [dataColumns]="dataColumn" [data]="rowData"></app-data-table>
        </div>
        <div class="col-md-4 py-3 d-flex justify-content-center align-items-center">
            <app-notice-board></app-notice-board>
        </div>
    </div>
</div>